body {
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #031424;
  background-color: #D4F2FF; }

p {
  text-align: initial;
  margin: initial;
  padding-top: initial;
  padding-bottom: initial;
  border-bottom: initial;
  background: initial; }
  p.home {
    font-size: 16px; }

.home a{
  color: #2ABAFD;}
  .home a:hover{
    color: #F64B57;
  }

a {
  color: #F64B57; }
  a:hover {
    text-decoration: none;
    color: #2ABAFD; }
  a:focus {
    text-decoration: none;
    color: #2ABAFD; }

span {
  font-weight: 700; }

h1{
  margin-top: 130px;}

h1.page {
  color: #F64B57;
}

h3 {
  font-size: 20px;
  margin-top: 20px;}
  h3.sub {
    font-size: 16px;
    line-height: 0;
    margin-top: 30px; }

h4 {
  font-size: 20px; }

h5{
  font-size: 16px; }

.bajada{
  margin-bottom: 20px;
}

.page-header{
  border-bottom: 0;}

/*NAVBAR*/
img.logo-nav{
  margin-top: 10px;
}

.navbar-default {
  background-color: #031424;
  border: none;
  height: 70px;}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #031424;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: inherit;
    background-color: #031424;
}

.navbar-default .navbar-nav > li > a{
  color: white;
  margin-top: 9px;}
  .navbar-default .navbar-nav > li > a:hover{
    color: #67C7F4; }
    .navbar-default .navbar-nav > li > a:focus{
      color: #67C7F4; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: transparent;
  color: white; }

.dropdown-menu{
  background-color: #031424;
  color: white;
  box-shadow: none;
  border-radius: 0;}

.dropdown-menu > li > a{
  color: white; }
  .dropdown-menu > li > a:hover{
    color: #67C7F4;
    background-color: transparent;}

.dropdown-menu .divider{
  background-color: transparent;}

.navbar-default .navbar-toggle .icon-bar{
  background-color: white;}

.navbar-default .navbar-toggle{
  border: none;}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: transparent;}

.navbar-default .navbar-nav .open .dropdown-menu > li > a{
  color: white;}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
    color: #67C7F4;}

.menu-list{
  font-weight: 700;}

.navbar-nav > li > .dropdown-menu{
  padding-left: 10px;}

/*SECTIONS*/
.jumbotron{
    background-color: #D4F2FF;}

section{
  padding-top: 30px;
  padding-bottom: 60px;
  margin-top: -20px;
}

#que-es-home{
  background-color: white;
  padding-top: 130px;
  margin-top: -150px;}
  #que-es-home h2{
    color: #F64B57;
  }

#resume{
  padding-top: 60px;}
  #resume h2{
    color: #F64B57;}
  #resume h3 > a{
    color: #031424;}
    #resume h3 > a:hover{
      color: #2ABAFD;}

#welcome{
  margin-top: -20px;
}

#que-es{
  background-color: white;
}

#metodologia{
  background-color: white;
}

/*PANELS*/
.panel {
  border: 0;
  background-color: transparent;
  box-shadow: none; }

.panel-default > .panel-heading{
  background-color: #30425D;
  color: white;
  margin-bottom: 5px;
  border-radius: 0;
  border-color: transparent;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body{
  border-top: transparent;
}

.panel.panel-default.legend {
  background-color: #031424;
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 0;
  margin: 0 0 5px 0;
}

.panel-default .panel-body {
  padding: 0;
  border: 0; }
  .panel-default .panel-body .panel-heading {
    background-color: #031424;
    color: white;
    border-radius: 0;
    border: none;
    padding-bottom: 15px; }

.panel-promise {
  padding: 15px;
  background-color: white;
  border: 0;
  margin-bottom: 5px; }

.panel-promise a{
  color: #0BD6B0; }

  .panel-promise a:hover{
    color: #031424; }

.panel-body.compare{
  background-color: white;
}

.compare-box{
  padding: 25px 0 10px 0; }

.panel.panel-glosario{
  border-radius: 0;}
  .panel-heading{
    background-color: #031424;
    color: white;
    border-radius: 0;
  }
  .panel-glosario .panel-body{
    background-color: white;
  }

/*DATA*/
.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
  stroke: #2ABAFD; }

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: #031424; }

.chart.estudio-total{
  margin-bottom: -110px;
  position: relative;
  top: -158px;}

.progress {
  height: 26px;
  border-radius: 15px;
  margin: 10px 0 20px 0;}

.progress-bar {
  background-color: #2ABAFD;
  box-shadow: none; }

.compare-bar{
  background-color: #EEFAFF;
  box-shadow: none;
}
.sr-only{
  position: relative;
  top: 3px;
}

.category-result {
  font-weight: 700;
  font-size: 30px; }

.promise-result {
  font-weight: 700;
  font-size: 30px; }
  .promise-result.home {
    line-height: 24px; }

.total-result {
  font-weight: 700;
  font-size: 50px; }
  .total-result.sub {
    font-size: 30px;
    margin-bottom: 30px; }
  .total-result.cumplimientos{
    margin-top: 60px; }

.compare-info{
  font-weight: 700;
  text-align: center; }

.compare-result{
  font-weight: 700;
  font-size: 30px;
}

.cumplimientos-resumen{
  min-height: 310px;
  margin-top: 30px;
}

.label-cumplimiento{
  position: relative;
  top: 22px;}

.label-coherencia{
  position: relative;
  top: 22px;}

.chart-compare-studies{
  position: relative;
  top: -102px;
  margin-bottom: -100px;}

.chart-comparison{
  margin-top: 50px;}

.chart-resume{
  margin: -105px 0 10px 0;}

.img-chart{
  position: relative;
  top: 121px;
  z-index: -1;}

/*HIGHLIGHT ELEMENTS*/
.badge {
  background-color: #0BD6B0; }

.label {
  background-color: #0BD6B0; }

.tooltip {
  width: 280px;}

.tooltip-inner {
  background-color: white;
  color: #031424;
  font-family: 'Karla', sans-serif;}

.tooltip.top .tooltip-arrow {
  border-top-color: white; }

.fa{
  margin: -16px 0 -7px 0;
}

/*BUTTONS*/
.btn-info{
  max-width: 70px;
  background-color: #031424; }
  .btn-info:hover{
    background-color: #2ABAFD; }

.btn-danger{
  background-color: #F64B57;}
  .btn-danger:hover{
    background-color: #2ABAFD;}
  .btn-danger:focus{
    background-color: #2ABAFD;}

.btn-warning{
  background-color: #2ABAFD;}
  .btn-warning:hover{
    background-color: #F64B57;}
  .btn-warning:focus{
    background-color: #F64B57;}

.btn-success{
  background-color: #0BD6B0; }
  .btn-success:hover{
    background-color: #031424; }
  .btn-success:focus{
    background-color: #031424; }

.btn-success-inverse{
  background-color: #031424; }
  .btn-success-inverse:hover{
    background-color: #0BD6B0; }
  .btn-success-inverse:focus{
    background-color: #0BD6B0; }

.btn{
  margin: auto;
  color: white;
  font-weight: 700;
  border-radius: 20px;
  border: none;}
  .btn a{
    color: white;}

a.btn-success{
  color: white;}
  a:hover.btn-success{
    color: white;}

a.btn-success-inverse{
  color: white;}
  a:hover.btn-success-inverse{
    color: white;}

/*MODALS*/
.modal-content {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none; }

.modal-header {
  border-bottom: none; }

.modal-footer{
  border: none;
}
.project-list{
  border-left: 4px solid #031424;
  padding: 5px 40px 5px 10px;
  margin-left: 18px;
  margin-bottom: 10px;
}

/*TABLES*/
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
  border-top: 1px solid #031424; }

.table > thead > tr > th{
  border-bottom: 2px solid #031424; }

.table-responsive{
  border: none; }


/*FOOTER*/
footer {
  background-color: #031424;
  color: white;
  padding: 50px 0 50px 0; }
  footer a {
    color: white; }

@media (max-width: 991px) {
  .label-coherencia{
    position: relative;
    top: -18px;}

  .chart.estudio-total{
    margin-bottom: -170px;}

}

@media (max-width: 333px) {
  img.logo-nav{
    width: 70%;
  }
}
