{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="/bulk">Bulk Data</a>
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
    <form method="post" id="bulk_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
    <div>
        <label>Type:</label>
        <select name="select">
            <option value="value1" selected>Government</option>
            <option value="value2">Study</option>
            <option value="value3">Area</option>
            <option value="value3">Phase</option>
        </select>
    </div>
    <div style="padding-top: 10px;">
        <label>Json data</label>
    </div>
    <div>
        <textarea style="min-width: 60vw; min-height: 60vh;"></textarea>
    </div>
    <input type="submit" value="{% translate 'Save' %}" class="default" name="_save">
    </form></div>
    {% endblock %}