<section id="que-es">
  <div class="container">
    <div class="row">
    <h1 class="text-center page">Del Dicho al Hecho</h1>
      <div class="col-md-8 col-md-offset-2">
        <h3>¿Qué es Del Dicho al Hecho?</h3>
        <p>Del Dicho al Hecho es un estudio que mide el cumplimiento de las promesas legislativas establecidas por el Gobierno en su Programa presidencial y discurso del 21 de mayo.</p>
        <h3>¿Por qué lo hacemos?</h3>
        <p>Para entregar a la ciudadanía información de forma clara y comprensible acerca del quehacer de nuestras autoridades, fortaleciendo su capacidad de fiscalización y control de gestión. De esta forma haremos más transparente las actividades de gobierno.</p>
        <h3>¿Por qué es importante?</h3>
        <p>Porque debemos encontrar mecanismos para que las instancias de participación ciudadana efectivamente generen decisiones vinculantes para nuestras autoridades. Como ciudadanía tenemos el derecho a exigir la rendición de cuentas a nuestras autoridades y para ello necesitamos estar informados. Esto considerando que el poder político pertenece a la ciudadanía, y es deber de ella fiscalizar el cumplimiento de las promesas políticas y el buen uso de los recursos públicos.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <img src="/img/rendicion.svg" class="img-responsive">
      </div>
    </div>
  </div>
</section>
