<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul style="list-style-type:none;">
          <li><img class="logo-footer-70" src="../public/img/logo-ddah-white.svg"></li>
          <li><a href="#">Hola</a></li>
          <li><a href="#">Hola</a></li>
          <li><a href="#">Hola</a></li>
          <li><a href="#">Hola</a></li>
          <li><a href="#">Hola</a></li>
          <li><a href="#">Hola</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul style="list-style-type:none;">
          <li><a href="#">Un proyecto de</a></li>
          <li><img class="logo-footer-70" src="../public/img/logo-ddah-white.svg"></li>
        </ul>
        <div>
          <a href="mailto:info@ciudadaniai.org" target="_blank"><svg class="icon-footer" style="margin-left: -4px;" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.5 19.75C12.82 19.75 11.14 18.2625 10.3 17.625C6.1 14.65 4.84 13.5875 4 12.95V21.875C4 23.0484 4.94041 24 6.1 24H22.9C24.0596 24 25 23.0484 25 21.875V12.95C24.16 13.5875 22.9 14.65 18.7 17.625C17.86 18.2625 16.18 19.75 14.5 19.75ZM22.9 7H6.1C4.94041 7 4 7.9516 4 9.125V10.1875C5.68 11.4625 5.47 11.4625 11.56 15.925C12.19 16.35 13.45 17.625 14.5 17.625C15.55 17.625 16.81 16.35 17.44 16.1375C23.53 11.675 23.32 11.675 25 10.4V9.125C25 7.9516 24.0596 7 22.9 7Z" fill="white"/>
          </svg></a>
          <a href="https://gitlab.com/ciudadaniai" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.52181 4.29481C8.38862 3.90173 7.84726 3.90173 7.70977 4.29481L5.28225 12.0151H10.9536C10.9493 12.0151 8.52181 4.29481 8.52181 4.29481V4.29481ZM4.04056 15.9017C3.92886 16.2551 4.05345 16.6481 4.34562 16.8734L14.9966 25L5.27796 12.0151L4.04056 15.9017ZM10.9493 12.0151L15.0009 25L19.0525 12.0151H10.9493ZM25.9613 15.9017L24.7239 12.0151L15.0009 25L25.6519 16.8734C25.9484 16.6481 26.0687 16.2551 25.9613 15.9017V15.9017ZM22.2921 4.29481C22.1589 3.90173 21.6175 3.90173 21.48 4.29481L19.0482 12.0151H24.7196L22.2921 4.29481Z" fill="white"/>
          </svg></a>
          <a href="https://twitter.com/ciudadania_i" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.8414 11.2367C22.8548 11.4226 22.8548 11.6086 22.8548 11.7945C22.8548 17.4656 18.5242 24 10.6092 24C8.17069 24 5.90547 23.2961 4 22.0742C4.34646 22.1141 4.67955 22.1273 5.03934 22.1273C7.05137 22.1273 8.90356 21.45 10.3826 20.2946C8.49049 20.2547 6.90482 19.0195 6.35849 17.3195C6.62501 17.3593 6.89149 17.3859 7.17134 17.3859C7.55775 17.3859 7.9442 17.3328 8.30395 17.2399C6.33187 16.8414 4.85276 15.1148 4.85276 13.0297V12.9766C5.42571 13.2953 6.09201 13.4945 6.79818 13.5211C5.63891 12.7507 4.87942 11.4359 4.87942 9.94841C4.87942 9.15155 5.09258 8.42108 5.4657 7.78357C7.58437 10.3867 10.769 12.0867 14.3401 12.2726C14.2735 11.9539 14.2335 11.6219 14.2335 11.2898C14.2335 8.92576 16.1523 7 18.5374 7C19.7766 7 20.8959 7.51797 21.6821 8.35469C22.6548 8.16876 23.5875 7.81015 24.4137 7.31875C24.0939 8.31487 23.4143 9.15159 22.5216 9.6828C23.3877 9.58988 24.2272 9.35076 25 9.01876C24.4138 9.86873 23.6809 10.6257 22.8414 11.2367V11.2367Z" fill="white"/>
          </svg></a>
          <a href="https://www.instagram.com/ciudadaniai/" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.0022 9.14293C12.1645 9.14293 9.87563 11.5595 9.87563 14.5556C9.87563 17.5516 12.1645 19.9682 15.0022 19.9682C17.8399 19.9682 20.1288 17.5516 20.1288 14.5556C20.1288 11.5595 17.8399 9.14293 15.0022 9.14293ZM15.0022 18.0745C13.1684 18.0745 11.6693 16.4964 11.6693 14.5556C11.6693 12.6147 13.164 11.0366 15.0022 11.0366C16.8405 11.0366 18.3352 12.6147 18.3352 14.5556C18.3352 16.4964 16.836 18.0745 15.0022 18.0745V18.0745ZM21.5343 8.92153C21.5343 9.62343 20.9989 10.184 20.3385 10.184C19.6737 10.184 19.1428 9.61872 19.1428 8.92153C19.1428 8.22434 19.6782 7.65905 20.3385 7.65905C20.9989 7.65905 21.5343 8.22434 21.5343 8.92153ZM24.9297 10.2028C24.8539 8.5117 24.488 7.01369 23.3146 5.77948C22.1456 4.54527 20.7267 4.15899 19.1249 4.07419C17.4741 3.97527 12.5259 3.97527 10.8751 4.07419C9.27775 4.15428 7.8589 4.54056 6.68544 5.77477C5.51199 7.00898 5.15059 8.50699 5.07027 10.1981C4.97658 11.9411 4.97658 17.1653 5.07027 18.9083C5.14612 20.5994 5.51199 22.0974 6.68544 23.3316C7.8589 24.5658 9.27329 24.9521 10.8751 25.0369C12.5259 25.1358 17.4741 25.1358 19.1249 25.0369C20.7267 24.9568 22.1456 24.5706 23.3146 23.3316C24.4835 22.0974 24.8494 20.5994 24.9297 18.9083C25.0234 17.1653 25.0234 11.9458 24.9297 10.2028V10.2028ZM22.797 20.7784C22.449 21.7017 21.7752 22.413 20.8963 22.7852C19.58 23.3363 16.4568 23.2092 15.0022 23.2092C13.5477 23.2092 10.42 23.3316 9.1082 22.7852C8.23369 22.4178 7.55996 21.7064 7.20747 20.7784C6.68544 19.3888 6.80591 16.0913 6.80591 14.5556C6.80591 13.0199 6.68991 9.71764 7.20747 8.33269C7.55549 7.40939 8.22922 6.69807 9.1082 6.32592C10.4244 5.77477 13.5477 5.90195 15.0022 5.90195C16.4568 5.90195 19.5845 5.77948 20.8963 6.32592C21.7708 6.69336 22.4445 7.40468 22.797 8.33269C23.319 9.72235 23.1985 13.0199 23.1985 14.5556C23.1985 16.0913 23.319 19.3935 22.797 20.7784Z" fill="white"/>
          </svg></a>
          <a href="https://www.facebook.com/ciudadaniai/" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.2792 16.8125L19.8496 13.012H16.2831V10.5457C16.2831 9.50598 16.7813 8.49248 18.3786 8.49248H20V5.25676C20 5.25676 18.5286 5 17.1218 5C14.1847 5 12.2649 6.82027 12.2649 10.1155V13.012H9V16.8125H12.2649V26H16.2831V16.8125H19.2792Z" fill="white"/>
          </svg></a>
          <a href="https://www.youtube.com/channel/UCtiq34lXdXDxo6GhIwnY5Sw" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M26.4776 9.65992C26.1901 8.61292 25.3429 7.78833 24.2673 7.50849C22.3177 7 14.5 7 14.5 7C14.5 7 6.68232 7 4.73266 7.50849C3.65706 7.78837 2.80992 8.61292 2.5224 9.65992C2 11.5577 2 15.5172 2 15.5172C2 15.5172 2 19.4767 2.5224 21.3744C2.80992 22.4214 3.65706 23.2117 4.73266 23.4915C6.68232 24 14.5 24 14.5 24C14.5 24 22.3177 24 24.2673 23.4915C25.3429 23.2117 26.1901 22.4214 26.4776 21.3744C27 19.4767 27 15.5172 27 15.5172C27 15.5172 27 11.5577 26.4776 9.65992V9.65992ZM11.9432 19.1121V11.9223L18.4772 15.5173L11.9432 19.1121V19.1121Z" fill="white"/>
          </svg></a>
          <a href="https://medium.com/@ciudadaniai" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 4V26H26V4H4ZM22.2777 9.21027L21.0991 10.3397C20.996 10.4183 20.9469 10.546 20.9665 10.6688V18.9826C20.9469 19.1103 20.996 19.2379 21.0991 19.3116L22.2531 20.4411V20.6915H16.4585V20.4509L17.6518 19.292C17.7696 19.1741 17.7696 19.1397 17.7696 18.9629V12.2402L14.45 20.667H14.0031L10.1384 12.2402V17.8875C10.104 18.1232 10.1875 18.3638 10.3545 18.5357L11.9062 20.4165V20.667H7.49643V20.4165L9.04821 18.5357C9.21518 18.3638 9.28884 18.1232 9.24955 17.8875V11.3562C9.2692 11.1746 9.20045 10.9978 9.06295 10.875L7.68304 9.21027V8.95982H11.9701L15.2799 16.2277L18.192 8.96473H22.2777V9.21027Z" fill="white"/>
          </svg></a>
          <a href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.9037 13.1735L13.4303 13.9399C13.012 13.0715 12.3108 13.0559 12.2123 13.0559C11.2307 13.0559 10.7388 13.704 10.7388 15.0004C10.7388 16.0459 11.1473 16.945 12.2123 16.945C12.8541 16.945 13.3056 16.6305 13.5682 16.002L14.9233 16.6895C14.6496 17.2 13.7838 18.4184 12.0358 18.4184C11.0333 18.4184 8.75528 17.9607 8.75528 15.0009C8.75528 12.3977 10.6625 11.5829 11.9768 11.5829C13.3394 11.5825 14.3143 12.1129 14.9037 13.1735V13.1735ZM21.2487 13.1735L19.7948 13.9399C19.3734 13.063 18.654 13.0559 18.5573 13.0559C17.5752 13.0559 17.0838 13.704 17.0838 15.0004C17.0838 16.045 17.4932 16.945 18.5573 16.945C19.1982 16.945 19.6506 16.6305 19.9119 16.002L21.2869 16.6895C21.1937 16.8558 20.3381 18.4184 18.3998 18.4184C17.3934 18.4184 15.1193 17.9806 15.1193 15.0009C15.1193 12.3986 17.0252 11.5829 18.3408 11.5829C19.7029 11.5825 20.673 12.1129 21.2487 13.1735V13.1735ZM14.9805 4C8.64573 4 4 9.10347 4 15C4 21.1427 9.03871 26 14.9805 26C20.7435 26 26 21.5259 26 15C26 8.8848 21.2709 4 14.9805 4V4ZM15.0191 23.9956C10.0274 23.9956 5.98399 19.8688 5.98399 15C5.98399 10.3241 9.77323 5.98399 15.02 5.98399C20.0112 5.98399 24.016 9.95198 24.016 14.9996C24.0156 20.3971 19.5947 23.9956 15.0191 23.9956V23.9956Z" fill="white"/>
          </svg></a>
        </div>
      </div>
    </div>
  </div>
</footer>
