<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-10">
        Un proyecto de <a href="//ciudadanointeligente.org" target="_blank"><img src="/img/logo-fci.svg" title="Fundación Ciudadano Inteligente" class="logo"></a>

        <div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <ul class="list-unstyled">
          <li><a href="mailto:info@ciudadanointeligente.org?Subject=Prensa%20de%20DDAH" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Mándanos un correo</a></li>
          <li><a href="//github.com/ciudadanointeligente/del-dicho-al-hecho-ember" target="_blank"><i class="fa fa-github-alt"></i> Revisa nuestro código</a></li>
          <li><a href="//twitter.com/ciudadanoi" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> @Ciudadanoi</a></li>
          <li>
            <a href="//www.facebook.com/ciudadanointeligente" target="_blank">
              <i class="fa  fa-facebook" aria-hidden="true"></i>
              Ciudadano Inteligente</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
