<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      {{#link-to "application"}}Del Dicho al Hecho{{/link-to}}
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to "about"}}¿Qué es?{{/link-to}}</li>
        <li>{{#link-to "methodology"}}Metodología{{/link-to}}</li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Estudios <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {{#each model as |gov|}}
              <li> {{gov.name}} </li>
              {{#each gov.studies as |study|}}
                <li>{{#link-to "study" study.slug}} {{study.version}} {{study.year}}{{/link-to}}</li>
              {{/each}}
              <li role="separator" class="divider"></li>
            {{/each}}
          </ul>
        </li>
        <li>{{#link-to "compare-studies" "bachelet-2014-2018_Marzo-2017~piñera-2010-2014_Marzo-2013"}}Comparar estudios{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>