<div id="welcome">
  <img src="/img/pinera.jpg" class="resume-back">
  <div class="jumbotron landing">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1>¿Cuánto cumple el gobierno?</h1>
          <p class="text-center">Revisa aquí el porcentaje de cumplimiento<br> de las promesas del Programa de Gobierno</p>
          <h2>Próximamente</h2>
        </div>
      </div>
    </div>
  </div>
</div>
