<section id="metodologia">
  <div class="container">
    <div class="row">
    <h1 class="text-center page">Metodología</h1>
      <div class="col-md-8 col-md-offset-2">
        <p style="text-align:justify">La metodología de los estudios Del Dicho Al Hecho se centran en una revisión detallada del Programa presidencial y del discurso de rendición de cuentas. De este modo, se separan las promesas cuyo cumplimiento dependen de medidas legislativas, de aquellas promesas que requieren medidas administrativas propias de los ministerios y otros servicios públicos.</p>
        <br>
        <p style="text-align:justify">En seguida, al tener una lista de promesas que necesitan tramitación legislativa, se da inicio al análisis de cada una de ellas. Así, se determinará si la promesa tiene un proyecto de ley asociado, para luego indagar en qué etapa de la tramitación legislativa se encuentra. Al tener esta información, se entrega una puntuación porcentual a la promesa en cuestión, denominada como “estado de avance”. Este resultado puede indicar: 0%, no existe proyecto de ley; 40%, primer trámite; 70%, segundo o tercer trámite constitucional y comisión mixta; 90%, cuando se encuentra en el Tribunal Constitucional o está pendiente de la aprobación presidencial; o 100%, cuando el proyecto ha sido publicado.</p>
        <br><p style="text-align:justify">Por último, una vez que todas las promesas y sus proyectos de ley asociados han sido sistematizados, se calcula un promedio simple de todos los avances y todas las coherencias, para establecer, finalmente, el grado de “cumplimiento total” que presenta el programa presidencial y el discurso de rendición de cuentas.</p>
        <div class="text-center">
          <a href="docs/metodologia-del-dicho-al-hecho.pdf" style="margin-top:30px" class="btn btn-warning" target="_blank" onclick="ga('send','event','metodologia-pdf','click')">Ver informe</a>
        </div>
      </div>
      </div>
    </div>
</section>

<section id="glosario">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center">Glosario de conceptos</h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-glosario">
            <div class="panel-heading" role="tab" id="headingOne">
              <h5 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#cumplimiento-total" aria-expanded="true" aria-controls="cumplimiento-total" onclick="ga('send','event','glosario-cumplimiento','click')">
                  Cumplimiento total
                </a>
              </h5>
            </div>
            <div id="cumplimiento-total" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body glosary">
                Porcentaje que indica el promedio de avance de todas las promesas contenidas en el estudio. El resultado puede ser: 0% cuando no se ha presentado ningún proyecto de ley asociado a una promesa, 40% cuando el proyecto se encuentra en su primer trámite constitucional, 70% cuando el proyecto se encuentra en segundo o tercer trámite constitucional, 90% cuando el proyecto se encuentra en comisión mixta o en el proceso de aprobación presidencial, o 100% cuando el proyecto ha sido promulgado.
              </div>
            </div>
          </div>
          <div class="panel panel-glosario">
            <div class="panel-heading" role="tab" id="headingSeven">
              <h5 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#tramites-constitucionales" aria-expanded="false" aria-controls="tramites-constitucionales" onclick="ga('send','event','glosario-tramites','click')">
                  Trámites Constitucionales
                </a>
              </h5>
            </div>
            <div id="tramites-constitucionales" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
              <div class="panel-body glosary">
                Los trámites constitucionales son las etapas por las que tiene que pasar un proyecto de ley para ser aprobado.<br>
                El proceso se inicia con el “Primer Trámite Constitucional”, que consiste en que el proyecto debe ser aprobado por la cámara del Congreso, a través de la cual se ingresó el proyecto de ley. A esta cámara se le denominará la “Cámara de Origen” y generalmente es la de Diputados ya que la mayoría de los proyectos se presentan primero a ella. Una vez que ésta lo aprueba pasa al  “Segundo Trámite Constitucional” y el proyecto debe ser votado por la “Cámara Revisora”, que por lo general es el Senado, si lo aprueba tal cual como venía de la Cámara de Origen el proyecto queda listo. En caso de que lo aprobado por la Cámara Revisora sea distinto a lo que aprobó por la Cámara de Origen, el proyecto deberá pasar a “Tercer Trámite Constitucional” donde la Cámara Origen tendrá que aprobar o rechazar las modificaciones que introdujo la Cámara Revisora. En caso de que apruebe las modificaciones el proyecto queda listo. Si las rechaza el proyecto pasa a lo que se llama una “Comisión Mixta” que está compuesta por miembros de ambas cámaras que deben hacer una propuesta que resuelva las discrepancias entre ambas cámaras. Esa propuesta debe ser luego aprobada por las dos cámaras para quede el proyecto termina su tramitación en el Congreso.
                <br>
                Luego de ello, algunos proyectos tienen que pasar por el Tribunal Constitucional donde se estudia si el contenido del mismo es coherente o choca con la Constitución. Acá el Tribunal tiene la capacidad de declarar inconstitucional un proyecto o parte del mismo y dejarlo sin efecto.
                <br>
                Una vez aprobado por el Tribunal Constitucional o directamente después de ser aprobado por el Congreso cuando no requiere pasar por ese trámite, el proyecto debe ser aprobado por la Presidenta y lo hace a través de la “Promulgación”, que es un acto por el cual declara estar conforme con el proyecto. Luego de ello, el proyecto es publicado en el Diario Oficial y ya es ley de la República obligatoria para todos.
              </div>
            </div>
          </div>
          <div class="panel panel-glosario">
            <div class="panel-heading" role="tab" id="headingThree">
              <h5 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#capacidad" aria-expanded="false" aria-controls="capacidad" onclick="ga('send','event','glosario-capacidad','click')">
                  Capacidad
                </a>
              </h5>
            </div>
            <div id="capacidad" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body glosary">
                Indicador que señala el número de promesas que presentan puntuación máxima en su nivel de avance (100%).
              </div>
            </div>
          </div>
          <div class="panel panel-glosario">
            <div class="panel-heading" role="tab" id="headingFour">
              <h5 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#urgencias" aria-expanded="false" aria-controls="urgencias" onclick="ga('send','event','glosario-urgencias','click')">
                  Urgencias
                </a>
              </h5>
            </div>
            <div id="urgencias" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body glosary">
                Las urgencias son una herramienta exclusiva del Presidente/ta de la República para determinar los plazos en que un proyecto de ley debe ser discutido y despachado por los miembros del congreso. Existen tres tipos de urgencia; urgencia simple que establece 30 días para el total despacho de un proyecto de ley por la Cámara respectiva, suma urgencia que establece 15 días para el total despacho de un proyecto de ley por la Cámara respectiva y discusión inmediata cuando un proyecto debe ser conocido y despachado por la respectiva Cámara en el plazo de 6 días.
                <br>
                En el presente estudio, el total de urgencias especifica la suma de todas las urgencias asociadas a los proyectos de ley.
              </div>
            </div>
          </div>
          <div class="panel panel-glosario">
            <div class="panel-heading" role="tab" id="headingFive">
              <h5 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#promesas-con-avance" aria-expanded="false" aria-controls="promesas-con-avance" onclick="ga('send','event','glosario-numero-promesas','click')">
                  Número de promesas con estado de avance
                </a>
              </h5>
            </div>
            <div id="promesas-con-avance" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body glosary">
                Cantidad de promesas realizadas por el gobierno que tienen asociadas un o un conjunto de proyectos de ley para su cumplimiento.
              </div>
            </div>
          </div>
          <div class="panel panel-glosario">
            <div class="panel-heading" role="tab" id="headingSix">
              <h5 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#avace-por-area" aria-expanded="false" aria-controls="avace-por-area" onclick="ga('send','event','glosario-avance-area','click')">
                  Avance por área
                </a>
              </h5>
            </div>
            <div id="avace-por-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
              <div class="panel-body glosary">
                Porcentaje que indica el promedio del cumplimiento de las promesas que pertenecen a un área determinada.
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</section>
