<section id="metodologia">
  <div class="container">
    <div class="row">
    <h1 class="text-center page">Metodología</h1>
      <div class="col-md-8 col-md-offset-2">
        <p>La metodología de los dos estudios Del Dicho Al Hecho 2017 se centran en una revisión detallada del Programa presidencial y del discurso del 21 de mayo. De este modo, se separan las promesas cuyo cumplimiento depende de medidas legislativas de aquellas que requieren medidas administrativas propias de los ministerios y otros servicios públicos.</p>
        <br>
        <p>En seguida, al tener una lista de promesas que necesitan tramitación legislativa, se da inicio al análisis de cada una de ellas. Así, se determinará si la promesa tiene un proyecto de ley asociado, para luego indagar en qué etapa de la tramitación legislativa se encuentra. Al tener esta información, se entrega una puntuación porcentual a la promesa en cuestión, denominada como “estado de avance”. Este resultado puede indicar: 0%, no existe proyecto de ley; 40%, primer trámite; 70%, segundo o tercer trámite constitucional y Comisión Mixta; 90%, cuando se encuentra en el Tribunal Constitucional o está pendiente de la aprobación presidencial; o 100%, cuando el proyecto ha sido publicado.</p><br><p>Por otro lado, los estudios entregan un segundo indicador: “escala de coherencia”. Este dato determina el nivel de consistencia entre una promesa y un proyecto de ley. El resultado varía en una escala entre 1 y 4: “1” indica la no presentación de un proyecto; “2”, un grado de coherencia marginal; “3”, un nivel de coherencia parcial; y “4” una coherencia total. En este proceso, se realiza un análisis cualitativo, en el que contamos con la cooperación de organizaciones aliadas a la Fundación, y que son especializadas en los temas del análisis.</p><br><p>Por último, una vez que todas las promesas y sus proyectos de ley asociados han sido sistematizados, se calcula un promedio simple de todos los avances y todas las coherencias, para establecer, finalmente, el grado de “Cumplimiento total” y el nivel de “Coherencia total” que presenta el Programa presidencial y el discurso del 21 de mayo.</p>
        <a href="docs/metodologia-del-dicho-al-hecho.pdf" class="btn btn-danger pull-right" target="_blank" onclick="ga('send','event','metodologia-pdf','click')">Ver informe</a>
      </div>
      </div>
    </div>
</section>

<section id="glosario">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center">Glosario de conceptos</h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-glosario">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#cumplimiento-total" aria-expanded="true" aria-controls="cumplimiento-total" onclick="ga('send','event','glosario-cumplimiento','click')">
                  Cumplimiento total
                </a>
              </h4>
            </div>
            <div id="cumplimiento-total" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                Porcentaje que indica el promedio de avance de todas las promesas contenidas en el estudio. El resultado puede ser: 0% cuando no se ha presentado ningún proyecto de ley asociado a una promesa, 40% cuando el proyecto se encuentra en su primer trámite constitucional, 70% cuando el proyecto se encuentra en segundo o tercer trámite constitucional, 90% cuando el proyecto se encuentra en Comisión Mixta o en el proceso de aprobación presidencial, o 100% cuando el proyecto ha sido promulgado.
              </div>
            </div>
          </div>
          <div class="panel panel-glosario">
            <div class="panel-heading" role="tab" id="headingSeven">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#tramites-constitucionales" aria-expanded="false" aria-controls="tramites-constitucionales" onclick="ga('send','event','glosario-tramites','click')">
                  Trámites Constitucionales
                </a>
              </h4>
            </div>
            <div id="tramites-constitucionales" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
              <div class="panel-body">
                Los trámites constitucionales son las etapas por las que tiene que pasar un proyecto de ley para ser aprobado. El Primer Trámite ocurre cuando el proyecto se aprueba en la cámara de origen, o sea por la que ingresó el proyecto (ya sea de Diputados o Senadores). Luego de esto, pasa a la siguiente cámara, que se le llama cámara revisora, para el Segundo Trámite Constitucional.  Si lo aprueba tal cual como venía de la cámara de origen el proyecto queda listo. Si el proyecto sufrió cambios importantes en el Segundo Trámite, pasa a un Tercer Trámite Constitucional, en el que la cámara de origen debe revisar y votar esos cambios. Si los aprueba, el proyecto queda listo, pero si los rechaza se crea una Comisión Mixta, en la que diputados y senadores buscan llegar a un acuerdo para que el proyecto sea aprobado por las dos instancias. Algunos proyectos, luego de ser aprobados en todos los trámites, pasan por el Tribunal Constitucional, quien determina si la ley propuesta es coherente o choca con la Constitución. Si no pasa esta revisión, un proyecto puede quedar sin efecto. Para que el proyecto comience a ser ley oficialmente, debe ser aprobado por la Presidenta o el Presidente de la República, en un trámite que se llama promulgación. Una vez listo esto, el proyecto es publicado en el Diario Oficial y comienza a ser ley obligatoria para todos.              </div>
            </div>
          </div>
          <div class="panel panel-glosario">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#coherencia-total" aria-expanded="false" aria-controls="coherencia-total" onclick="ga('send','event','glosario-coherencia','click')">
                  Coherencia total
                </a>
              </h4>
            </div>
            <div id="coherencia-total" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                Número que indica el promedio de consistencia de todas las promesas respecto a los proyectos de ley enviados al Congreso. Se mide en una escala de 1 a 4, donde 1 representa un nivel de coherencia marginal o la no presentación de proyectos de ley asociados a la promesa, mientras que 4 indica un nivel de coherencia total.
              </div>
            </div>
          </div>
          <div class="panel panel-glosario">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#capacidad" aria-expanded="false" aria-controls="capacidad" onclick="ga('send','event','glosario-capacidad','click')">
                  Capacidad
                </a>
              </h4>
            </div>
            <div id="capacidad" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Indicador que señala el número de promesas que presentan puntuación máxima en su nivel de avance (100%) y su grado de coherencia (4).
              </div>
            </div>
          </div>
          <div class="panel panel-glosario">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#urgencias" aria-expanded="false" aria-controls="urgencias" onclick="ga('send','event','glosario-urgencias','click')">
                  Urgencias
                </a>
              </h4>
            </div>
            <div id="urgencias" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Las urgencias son una herramienta exclusiva del Presidente/ta de la República para determinar los plazos en que un proyecto de ley debe ser discutido y despachado por los miembros del congreso. Existen tres tipos de urgencia; urgencia simple que establece 30 días para el total despacho de un proyecto de ley por la Cámara respectiva, suma urgencia que establece 15 días para el total despacho de un proyecto de ley por la Cámara respectiva y discusión inmediata cuando un proyecto debe ser conocido y despachado por la respectiva Cámara en el plazo de 6 días.
              </div>
            </div>
          </div>
          <div class="panel panel-glosario">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#promesas-con-avance" aria-expanded="false" aria-controls="promesas-con-avance" onclick="ga('send','event','glosario-numero-promesas','click')">
                  Número de promesas con estado de avance
                </a>
              </h4>
            </div>
            <div id="promesas-con-avance" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                Cantidad de promesas realizadas por el gobierno que tienen asociadas un o un conjunto de proyectos de ley para su cumplimiento.
              </div>
            </div>
          </div>
          <div class="panel panel-glosario">
            <div class="panel-heading" role="tab" id="headingSix">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#avace-por-area" aria-expanded="false" aria-controls="avace-por-area" onclick="ga('send','event','glosario-avance-area','click')">
                  Avance por área
                </a>
              </h4>
            </div>
            <div id="avace-por-area" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
              <div class="panel-body">
                Porcentaje que indica el promedio del cumplimiento de las promesas que pertenecen a un área determinada.
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</section>
